#about-intro {
	margin-bottom: 50px;
	  font-size: 14px;
    line-height: 29px;}

	
#about-content article {
	margin-bottom: 30px;}
	
	
#about-content p{
	line-height:28px; font-size:14px; }	