#blog-page { font-size: 15px;  margin-bottom: 50px; }

.blog-list article {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 20px;
}

#blog-content{ margin-bottom: 50px;}
#blog-content p {margin-bottom: 10px; font-size: 15px; line-height: 34px;}

#blog-content header { margin-bottom: 20px;}

	#blog-content header figure{
		float: left;
		position: relative;
		margin: 10px 10px 0 0;
		border: 1px solid #363636}
	
	#blog-content header figure figcaption {
		width: 255px; height: 7px;
		bottom: -8px;
		background: url('images/layout/sprite.png') no-repeat 0 -265px transparent;
		position: absolute;}
	
	#blog-content header figure img {display: block;}
	
	#blog-content header aside{
		float: left;
		width: 710px;
		margin-top: 20px;}
		
	#blog-content header aside h2 {
		font-size: 20px;
		margin-bottom: 10px;
		color: #000;}
