/*		< Breadcrumb > 
*****************************
******************************/
	
#breadcrumb {
	line-height: 55px;
	font-size: 15px;}
	
	#breadcrumb a{
		margin-right: 5px;
		color: #fff;}
		
	
	#breadcrumb i{
		margin: 0 2px;
		width: 10px; height: 15px;
		display:inline-block;
		background: url("images/layout/arrow_right.png") no-repeat left 2px transparent;}
	
/*		</ Breadcrumb > 
*****************************
******************************/
