#contact-intro{ margin-bottom: 15px; }

#contact-intro ul {
	margin: 10px 0 0; }

	#contact-intro ul li {
		float: left;
		height: 32px; line-height: 32px;
		margin-right: 20px; }

		.emailAddr {
			padding-left: 40px;
			background: url('images/layout/sprite_contact.png') no-repeat left -694px transparent; }
			
		.telNumber {
			padding-left: 25px;
			background: url('images/layout/sprite_contact.png') no-repeat left -726px transparent;}
		.faxNumber {
			padding-left: 40px;
			background: url('images/layout/sprite_contact.png') no-repeat left -763px transparent;}
		
#contact-page {
	margin-bottom: 30px;}
	
#contact-page option{ margin: 5px; }
	
	#contact-content {
		float: left;
		width: 550px;}
		
		#contact-content section{
			margin-bottom: 30px; }
		
		#contact-form input.txt{
			width: 260px;}
			
		#contact-form textarea{
			width: 300px; height: 100px;}
		
	#contact-sidebar {
		float: right;
		width: 380px;
		margin: 35px 0 0 15px; padding-left: 20px;
		border-left: 1px solid #999}
		
		#contact-sidebar hr{
			border-color: #999;
			height: 1px;
			margin: 20px 0;}
			
		#contact-twitter {
			padding-bottom: 30px;}
			
			#contact-twitter div {
				background-color: #f3f3f3;
				position: relative;
				border: 1px solid #ccc;
				width: 340px;
				-moz-border-radius: 5px; 
				-webkit-border-radius: 5px; 
				border-radius: 5px; }
			
			#contact-twitter div p {
				font-size: 13px;
				padding: 20px 10px;}
			
			#contact-twitter-icon {
				position: absolute;
				right: 30px; bottom: -13px;
				width: 23px; height: 15px;
				z-index: 10;
				background: url('images/layout/sprite_contact.png') no-repeat left -869px transparent; }
				
			#contact-twitter-bird {
				position: absolute;
				right: -40px; bottom: -50px;
				width: 70px; height: 76px;
				z-index: 1;
				background: url('images/layout/sprite_contact.png') no-repeat right -890px transparent; }
				
			#contact-twitter-link {
				position: absolute;
				left: 0; bottom: -30px;
				padding-left: 20px;
				font-size: 12px;
				height: 16px;
				background: url('images/layout/sprite.png') no-repeat left -163px transparent; }
			
		#contact-map a {
			float: right;
			font-size: 12px;}

		#contact-map figure{
			padding: 10px; }
			
		#contact-map figcaption {
			margin: 0 auto;
			width: 340px;
			display: block;
			height: 28px; line-height: 38px;
			padding-left: 25px;
			background: url('images/layout/sprite_contact.png') no-repeat left -665px transparent;}
		
		#contact-vcard { text-align: center }
		
		#contact-donation {
			margin: 0 auto;}
			
			#contact-donation form{
				float: left;
				margin-top: 5px}
			
			#donation-paypal-icon {
				float: left;
				width: 85px; height: 38px;
				margin-right: 5px;
				background: url('images/layout/sprite.png') no-repeat -270px -444px transparent;}
			
			#donation-banks-icon {
				float: left;
				margin-top: 10px;
				width: 214px; height: 30px;
				background: url('images/layout/sprite.png') no-repeat -423px -420px transparent;}
			
			#contact-donation form{ clear: both; }
			
			#contact-donate-button{
				margin-top:10px; }
				
					
			#contact-rss-icon {
				float: left;
				margin-right: 5px;
				width: 32px; height: 32px;
				background: url('images/layout/sprite_contact.png') no-repeat left -800px transparent;}
				
			#contact-rss input.txt {
				color: #999;
				width: 250px;}