/* 
  :: Css3designer.com Main Stylesheet
  :: style.css Cascading Style Sheet
  :: ------------------------------------------------------------------
  :: Author:  Mexo.co - http://www.mexo.co
  :: Twitter: @mexo_team
  :: Email:   coder@mexo.co 
  :: Version: 1.0 - DEC 2011
  :: Copyright: 2011 http://AlHussainTV.com - All rights reserved.
  :: ------------------------------------------------------------------
  :: We personally found this type of styling the Most Human Readeable one
  :: No Doubt 


  HACK DIRECTORY
  ==============	
  % box model hack
  $ targets safari
  & clearfix hack
  ? targets IE
  ! temporary
	
		
	em values -    Formula : 0.625 * pixel = em 
  =============================================    
    10px - 1 em
	
	
  COLORS HERLPER
  ==============
  #eee    - lighter gray
  #ccc    - soft gray
  #666    - medium gray
  #333    - dark gray
  #8B8B8B - light gray
  #FAAF5E - Orange
  #6396E7 - Blue
  #1C69E4 - Blue
  #2F72F9 - Blue
  #b00b00 - Red
  #de1e7e - Purple
  #e1e100 - yellow
  #BADA55 - light green
  #F0FEAF - light yellow
  #ac1d1c - blur red
  #facade - light pink 
	
	
  DIRECTORY
  ==============  
	-COMMON
	-HEADER
	-MAIN CONTAINER
*/


html{
	
	height: 100%;
	/*Text*/
	background: url('images/layout/bg.png') repeat-x transparent;
	font-family: Arial,Verdana,sans-serif; }

	
.inner-pages {
	background: url("images/layout/bg2.png") repeat-x transparent !important; }

body {
	height: 100%; min-height: 100%; line-height: 1.5; }

/* IE Resizing hack */
html>body { font-size: 12px }


/*	COMMON
****************/
	.center-container{
		margin-left: auto; margin-right: auto;
		width: 980px; }
	
	a,a:hover, a:active, a:focus {
	outline: 0; }

	a{ color: #333; }

	a:hover{ color: #666; }

	.loadingMsg,
	.successMsg,
	.errorMsg{  margin-left: 10px; padding-left: 22px; }
	
	.loadingMsg	{ background: url("images/general/loading.gif") no-repeat transparent; }
	
	.successMsg,
	.errorMsg{
		background: url("images/layout/sprite_contact.png") no-repeat left -836px;
		margin-left: 10px; padding-left: 22px; }
		
	.errorMsg{
		background-position: left -854px; }
	
	.msgBox{ clear: both; padding-top:10px; }	

 /*			< HEADER > 
 *****************************
 ******************************/
#main-header{ position: relative; margin-top: 25px; }

#main-header hgroup h1{ width: 401px; }

#logo{ display: block; 	height: 100px;  }
	#logo figure{ position: absolute;}

	#logo img{ width: 72px; height: 100px; }
	
	#logoText{ 
		position: absolute; left: 53px; top: 0;
		height: 100px; width:  318px;
		background: url('images/layout/sprite.png') no-repeat 25px 0 transparent; }

	/*		< HEADER SOCIAL > 
	*****************************
	******************************/
	#header-social{ 
		position: absolute; right: 0; top: 0; }
	
	#header-social li{
		height: 24px; margin-right: 10px;
		background: url('images/layout/sprite.png') no-repeat left -105px transparent; }
	
	#header-social li.last{ margin-right: 0 }
	
	#header-social #header-rss{ background-position: left -134px; }
	
	#header-social #header-twitter{ background-position: -108px -105px; }
	
	#header-social #header-youtube{ background-position: -108px -134px; }
	
	#header-social li a{   
		display: block;
		color: #333333; font-weight: bold; line-height: 12px;
		text-indent: 27px; }

	#header-social li a:hover{ color: #701219; }
	
	#header-social small{ display: block; font-weight:normal; font-style: italic; }
	
	/*		</ HEADER SOCIAL > 
	*---------------------------*/
	
	
	/*		< HEADER SPONSER > 
	*****************************
	******************************/
	#header-sponser{ 
		position: absolute; right: 0; top: 43px; 
		width: 287px; }
	
	#header-sponser h1{ font-size: 18px; line-height: 18px }
	
	#header-sponser small{ display: block; font-style: normal; font-size: 12px;}
	
	#header-sponser span{ margin-left: 27px; width: 164px; word-wrap: break-word; font-size: 14px }

	/*		</ HEADER SPONSER > 
	*---------------------------*/
	
	
	/*		< MAIN NAV > 
	*****************************
	******************************/
	.ie6 #main-nav{margin-top: 0px;  }
	
    #main-nav{ 
        margin-top: 19px; 
        height: 43px;}
        
    #main-nav li{
        float:left;
        display:block;
        border-right: 1px solid #000; border-left: 1px solid #292929;}
    
    #main-nav li.first {border-left: none}
    #main-nav li.last {border-right: none}
    
    #main-nav li div { margin: 0 3px;}
    
    #main-nav a{ display: block;  float: left; }
    
    #main-nav .splitter     { 
        width: 2px; height: 40px; 
        background: url('images/layout/sprite_menu.png') no-repeat left -457px; }
    
    #main-nav a{ 
        position: relative;
        padding: 8px 17px 4px 11px;
        height: 28px;  color: #fff; }
    
    #main-nav span{ 
        display: block;   
        height: 24px; line-height: 24px; 
        background: url('images/layout/sprite_menu.png') no-repeat left top;
        text-indent: 36px; }
    
    .ie6 #main-nav span{
        position: absolute;
        text-indent: 28px;
    width: 108px;}

    .ie6  #main-nav li{ margin-top: -5px; }
    .ie6  #main-nav a{
        padding: 8px 105px 4px 3px; }

    #main-nav a:hover{ color: #000; background: url('images/layout/sprite.png') no-repeat left -590px transparent }
    
    #main-nav a:hover i.corner{ 
        position: absolute; top: 0; float: none; right: -3px;
        height: 40px; width: 5px;
        background: url("images/layout/horizontal_sprite.png") no-repeat scroll left top transparent; }
    
    #nav-news span{ background-position: left -28px; }
    
    #nav-image span{ background-position: left -57px; }
    
    #nav-video span{ background-position: left -86px; }
    
    #nav-events span{ background-position: left -115px;}
    
    #nav-about span{ background-position: left -143px; }
    
    #nav-blog span{ background-position: left -171px; }    
    
    #nav-contact span{ background-position: left -201px;}
    
    
    #nav-home div:hover span{ background-position: left -232px;}
    
    #nav-news div:hover span{ background-position: left -261px; }
    
    #nav-image div:hover span{ background-position: left -290px; }
    
    #nav-video div:hover span{ background-position: left -319px; }
    
    #nav-events div:hover span{ background-position: left -348px; }
    
    #nav-about div:hover span{ background-position: left -376px; }
    
    #nav-blog div:hover span{ background-position: left -404px; }    
    
    #nav-contact div:hover span{ background-position: left -434px; }
	
	/*		</ MAIN NAV > 
	*---------------------------*/
	

			
/*		</ HEADER > 
*---------------------------*/


/*	< MAIN CONTAINER >
*****************************
******************************/
 
#main-container{ margin: 50px auto; }

#homepage-left{ width: 685px; float: left; margin-right: 30px; }

#main-container .homepage-box-header figure{
	background: url('images/layout/sprite.png') no-repeat transparent; }



/*	</ MAIN CONTAINER >
*---------------------------*/