	/*		< Forms > 
	*****************************
	******************************/	

	.error label { color: #990000;}
	
	.error input.txt, .error textarea {
		color: #cc9999;
		background-color: #fbe2e2;
		border-color: #cc9999}
		
	.error input.txt:focus, .error textarea:focus {
		color: #990000;
		border-color: #cc6666;
		-moz-box-shadow: 0 0 5px #990000;
		-webkit-box-shadow: 0 0 5px #990000;
		box-shadow: 0 0 5px #990000;}
	
	.ie6 input.txt .focus, .ie6 textarea .focus {
		background-color: #f7f7f7;
		border: 1px solid #bbb;}
	
.form label {
	cursor: text;
	float: left;
	line-height: 25px;
	margin-right: 30px;
	font-size: 13px; }

.form span {
	font-size: 11px;
	line-height: 12px;
	float: left;
	margin: 1px 12px 20px 3px}
	
.form input.txt, .form textarea, .form select {
	margin-bottom: 15px;
	background-repeat: no-repeat;}

.form input[type="checkbox"]{
	float: left;
}
	
#fullName input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right 0; }
	
	#fullName input:focus{ 
		background-position: right -30px;}
		
	#fullName.error input{ 
		background-position: right -60px;}
		
#email input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right -90px; }
	
	#email input:focus {
		background-position: right -120px;}
		
	#email.error input{ 
		background-position: right -150px;}
	
#phoneNumber input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right -180px; }

	#phoneNumber input:focus {
		background-position: right -210px;}
		
	#phoneNumber.error input{ 
		background-position: right -240px;}	

#website input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right -270px;}
		
	#website input:focus {
		background-position: right -300px;}
	
	#website.error input{ 
		background-position: right -330px;}	

#question input, .question input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right -360px;}
	
	#question input:focus, .question input:focus {
		background-position: right -390px;}
		
	#question.error input, .question.error input{ 
		background-position: right -420px;}	
		
#address input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right -450px;}
	
	#address input:focus {
		background-position: right -480px;}
		
	#address.error input{ 
		background-position: right -510px;}
		
	/*		</ Forms > 
	*****************************

/*		< Inner Page Titles > 
	*****************************
	******************************/
	
.innerPageTitle {
	width: 100%;
	font-size: 20px;
	color: #6d0d16;
	margin-bottom: 30px;  padding-bottom: 5px;
	border-bottom: 4px solid #333; }
	
	.innerPageTitle figure {
		padding-left: 30px;
		background-image: url('images/layout/sprite_contact.png');
		background-repeat: no-repeat;
		background-color: transparent;}
	
	#volunteer-icon {
		background-position: left -545px }
	
	#question-icon {
		background-position: left -573px }
	
	#contact-icon {
		background-position: left -607px }
		
	#facebook-icon {
		background-position: left -638px }
		
		
	/*		</ Inner Page Titles > 
	*****************************
	******************************/
		
.list li{
	margin-bottom: 5px;
	padding-left: 20px;
	background: url('images/layout/icon_list.png') no-repeat left center transparent;}

	
	/*		< Inner Page Header > 
	*****************************
	******************************/
	
.inner-banner {
	height: 250px;
	position: relative;}

	.inner-banner hgroup {
		position: absolute;
		color: #fff;
		bottom: 30px }
		
		.inner-banner hgroup h2 {
			font-size: 55px;
			font-weight: normal}
		
		.inner-banner hgroup p {
			font-size: 25px; 
			margin-top: -10px}
			
		.inner-banner hgroup h2, .inner-banner hgroup p {
			position: relative;  
			text-shadow: 2px 3px 3px #000;}
			
		.inner-banner hgroup span{  
			color: #ffffff;
			-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));}
		
	.inner-banner figure{
		right: 0; bottom: 0;
		width: 370px;		
		position: absolute;
		background: url('images/layout/sprite_banner.png') no-repeat transparent;}
	
		#image-banner-figure {
			height: 237px;
			background-position: right 0;}
			
		#video-banner-figure {
			height: 238px;
			background-position: right -245px;}
		
		#volunteer-banner-figure {		
			height: 243px;
			background-position: right -485px;}
		
		#about-banner-figure {
			height: 234px;
			background-position: right -975px;}
		
		#blog-banner-figure {
			height: 240px;
			background-position: right -730px;}
		
		#contact-banner-figure {
			height: 194px;
			background-position: right -1215px;}
		
		#news-banner-figure {
			height: 245px;
			background-position: right -1410px;}
		
		#events-banner-figure {
			height: 237px;
			background-position: right -1660px;}
			
		#testimonial-banner-figure {
			height: 202px;
			background-position: right -1905px;}
			
		#faq-banner-figure {
			height: 230px;
			background-position: right -2110px;}
			
		#terms-banner-figure {
			height: 228px;
			background-position: right -2345px;}
			
		#privacy-banner-figure {
			height: 228px;
			background-position: right -2585px;}	
			
	/*		</ Inner Page Header > 
	*****************************
	******************************/
	
	
	
	/*		< POST LIST > 
	*****************************
	******************************/
	
.post-list p { margin-bottom: 10px; clear: both;}

.post-list header { margin-bottom: 20px;}

	.post-list header figure{
		float: left;
		position: relative;
		margin: 10px 10px 0 0;
		border: 1px solid #363636}
	
	.post-list header figure figcaption {
		width: 255px; height: 7px;
		bottom: -8px;
		background: url('images/layout/sprite.png') no-repeat 0 -265px transparent;
		position: absolute;}
	
	.post-list header figure img {display: block;}
	
	.post-list header aside{
		float: left;
		width: 710px;
		margin-top: 20px;}
		
	.post-list header aside h2 {
		font-size: 20px;
		margin-bottom: 10px;
		color: #000;}
	
	#details {
		float: left;
		margin-left: 0;
		margin-bottom: 15px}
		
		#details li {
			float: left;
			font-size: 12px;
			line-height: 13px;
			color: #888;
			margin-right: 10px; padding-left: 16px; padding-right: 10px;
			border-right: 1px solid #888;
			background-image: url('images/layout/sprite.png');
			background-repeat: no-repeat}
		
		#details .author {
			background-position: -25px -215px}
			
		#details .date {
			background-position: -130px -215px}
			
		#details .time {
			border-right: none;
			background-position: -240px -215px }

			
	/*		</ POST LIST > 
	*****************************
	******************************/	
	