	/*		< Forms > 
	*****************************
	******************************/	

	.error label { color: #990000;}
	
	.error input.txt, .error textarea {
		color: #cc9999;
		background-color: #fbe2e2;
		border-color: #cc9999}
		
	.error input.txt:focus, .error textarea:focus {
		color: #990000;
		border-color: #cc6666;
		-moz-box-shadow: 0 0 5px #990000;
		-webkit-box-shadow: 0 0 5px #990000;
		box-shadow: 0 0 5px #990000;}
	
	.ie6 input.txt .focus, .ie6 textarea .focus {
		background-color: #f7f7f7;
		border: 1px solid #bbb;}
	
.form label {
	cursor: text;
	line-height: 25px;
	padding-right: 30px;}

.form span {
	font-size: 12px;
	color: #888;}
	
.form input, .form textarea, .form select {
	margin-bottom: 15px;
	background-repeat: no-repeat;}
	
#fullName input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right 0; }
	
	#fullName input:focus{ 
		background-position: right -30px;}
		
	#fullName.error input{ 
		background-position: right -60px;}
		
#email input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right -90px; }
	
	#email input:focus {
		background-position: right -120px;}
		
	#email.error input{ 
		background-position: right -150px;}
	
#phoneNumber input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right -180px; }

	#phoneNumber input:focus {
		background-position: right -210px;}
		
	#phoneNumber.error input{ 
		background-position: right -240px;}	

#website input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right -270px;}
		
	#website input:focus {
		background-position: right -300px;}
	
	#website.error input{ 
		background-position: right -330px;}	

#question input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right -360px;}
	
	#question input:focus {
		background-position: right -390px;}
		
	#question.error input{ 
		background-position: right -420px;}	
		
#address input{
	background-image: url('images/layout/sprite_contact.png');
	background-position: right -450px;}
	
	#address input:focus {
		background-position: right -480px;}
		
	#address.error input{ 
		background-position: right -510px;}
		
	/*		</ Forms > 
	*****************************

/*		< Inner Page Titles > 
	*****************************
	******************************/
	
.innerPageTitle {
	width: 100%;
	font-size: 20px;
	color: #6d0d16;
	margin-bottom: 30px;  padding-bottom: 5px;
	border-bottom: 4px solid #333; }
	
	.innerPageTitle figure {
		padding-left: 30px;
		background-image: url('images/layout/sprite_contact.png');
		background-repeat: no-repeat;
		background-color: transparent;}
	
	#volunteer-icon {
		background-position: left -545px }
	
	#question-icon {
		background-position: left -573px }
	
	#contact-icon {
		background-position: left -607px }
		
	#facebook-icon {
		background-position: left -638px }
		
		
	/*		</ Inner Page Titles > 
	*****************************
	******************************/
		
.list li{
	margin-bottom: 5px;
	padding-left: 20px;
	background: url('images/layout/icon_list.png') no-repeat left center transparent;}

	
	/*		< Inner Page Header > 
	*****************************
	******************************/
	
.inner-banner {
	height: 250px;
	position: relative;}

	.inner-banner hgroup {
		position: absolute;
		color: #fff;
		bottom: 30px }
		
		.inner-banner hgroup h2 {
			font-size: 55px;
			font-weight: normal}
		
		.inner-banner hgroup p {
			font-size: 25px; 
			margin-top: -10px}
			
		.inner-banner hgroup h2, .inner-banner hgroup p {
			position: relative;  
			text-shadow: 2px 3px 3px #000;}
			
		.inner-banner hgroup span{  
			color: #ffffff;
			-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,1)));}
		
	.inner-banner figure{
		right: 0; bottom: 0;
		width: 370px;		
		position: absolute;
		background: url('images/layout/sprite_banner.png') no-repeat transparent;}
	
		#image-banner-figure {
			height: 237px;
			background-position: right 0;}
			
		#video-banner-figure {
			height: 238px;
			background-position: right -245px;}
		
		#volunteer-banner-figure {		
			height: 243px;
			background-position: right -485px;}
		
		#about-banner-figure {
			height: 234px;
			background-position: right -975px;}
		
		#blog-banner-figure {
			height: 240px;
			background-position: right -730px;}
		
		#contact-banner-figure {
			height: 194px;
			background-position: right -1215px;}
		
		#news-banner-figure {
			height: 245px;
			background-position: right -1410px;}
		
		#events-banner-figure {
			height: 237px;
			background-position: right -1660px;}
			
	/*		</ Inner Page Header > 
	*****************************
	******************************/