#testimonials-content {
	margin: 20px 0 50px; }

	.testimonials-pic {
		float: left;
		width: 64px; height: 64px;
		padding: 10px;
		background-color: #fff;
		border: 1px solid #ddd;
		-moz-box-shadow: 0 0 5px #ccc;
		-webkit-box-shadow: 0 0 5px #ccc;
		box-shadow: 0 0 5px #ccc; }

		.testimonials-pic span {
			width: 64px; height: 64px;
			display: block;
			background: url('images/layout/blank_pic.png') no-repeat #ececec; }
			
		.testimonials-pic span.female{
			background-image: url('images/layout/blank_female_pic.png'); }	

	#testimonials-content aside {
		position: relative;
		display: inline-block;
		width: 830px; padding: 15px;
		background-color: #f6f6f6;
		border: 1px solid #ddd; }

		#testimonials-content aside figure {
			position: absolute; top: 10px;
			width: 20px; height: 15px;
			background: url('images/layout/icon_qoute_left.png') no-repeat transparent; }

		#testimonials-content b {
			font-size: 16px; }

		#testimonials-content p {
			margin-top: 10px;
			font-size: 13px; }

	.left-align aside {
		margin-left: 30px;}
	
	.left-align aside figure {
		left: -20px;}
			
	.right-align aside {
		margin-right: 30px;}
		
	.right-align .testimonials-pic{
		float: right;}
		
	.right-align aside {
		float: left;}
		
	.right-align aside figure {
		right: -20px;
		background-image: url('images/layout/icon_qoute_right.png') !important; }

	.testimonials-splitter {
		position: relative;
		height: 1px;
		margin: 52px 0;
		clear: both; display: block;	
		background-color: #ccc; }

	.testimonials-splitter a {
		position: absolute;
		left: 50%; top: -10px;
		font-size: 13px;
		background-color: #fff; color: #999; }

		.testimonials-splitter a:hover { color: #333;}
		
#testimonials-form {
	margin-top: 30px;}
	
	#testimonials-form input.txt {
		width: 240px;}
		
	#testimonials-form textarea{
		width: 300px;
		height: 100px;}
		
	#testimonials-form label.radio{
		cursor: text;
		float:none;
		margin-right:0;
		margin-left: 7px;
		
	}
	
	#testimonials-form button{ float: right; }	