<ul class="shortcut-buttons-set">
	<li><a href="<!--{$SiteData.videoGallery.addVideo}-->" class="shortcut-button">
			<span>
			<img alt="icon" src="<!--{$imagePath}-->icons/image_add_48.png"><br>
			Add A New Video
			</span>
		</a>
	</li>			
</ul>
<div style='clear:both'></div>
<div class="content-box">
	<div class="content-box-header">
		<h3>Manage Videos > 
			<a href='<!--{$SiteData.videoGallery.videoCategoryLink}-->' >
				<span style='font-style:italic; color:#666;'><!--{$SiteData.videoGallery.videoCategoryTitle}--></span>
			</a>
		</h3>
		<ul class="content-box-tabs">
			<li><a href="#tab1" class="default-tab">Table</a></li> <!-- href must be unique and match the id of target div -->
		</ul>
		<div class="clear"></div>
	</div> <!-- End .content-box-header -->
	
	<div class="content-box-content">
		<div class="tab-content default-tab" id="tab1">
			<!--{if isset($SiteData.videoGallery.successMsg)}-->
			<div class="notification success png_bg">
				<a class="close" href="javascript:void(0)"><img alt="close" title="Close this notification" src="<!--{$imagePath}-->icons/cross_grey_small.png"></a>
				<div>
					<!--{$SiteData.videoGallery.successMsg}-->
				</div>
			</div>				
			<!--{/if}-->
			<!--{if isset($SiteData.videoGallery.errorMsg)}-->
			<div class="notification error png_bg">
				<a class="close" href="#"><img alt="close" title="Close this notification" src="<!--{$imagePath}-->icons/cross_grey_small.png"></a>
				<div>
					<!--{$SiteData.videoGallery.errorMsg}-->
				</div>
			</div>				
			<!--{/if}-->
			<!--{if $SiteData.videoGallery.records|@count eq 0}-->
			<div class="notification attention png_bg">
				<div>
					There are no Videos to manage, to get started 
					<a href='<!--{$applicationPath}-->?action=videoGallery&type=add'> <b>Add your first video</b></a>
				</div>
			</div>
			<!--{else}-->
			<table>
				<thead>
					<tr>
					   <th>Video</th>
					   <th>Title</th>
					   <th>Description</th>
					   <th>Video Id</th>
					   <th>Status</th>
					   <th>Entry Date</th>
					   <th>Actions</th>
					</tr>
				</thead>
			 
			<!--{foreach from=$SiteData.videoGallery.records key=k item=videoGallery}-->
					<tr>
						<td width="10%">
							<div style='display:none' id='videoGalleryVideo<!--{$videoGallery.videoGalleryId}-->'>
								<iframe src="<!--{$videoGallery.videoUrl}-->" width="847" height="396" frameborder="0"></iframe>
							</div>
							<a rel='modal' href='#videoGalleryVideo<!--{$videoGallery.videoGalleryId}-->' title='see large view' >
								Watch video 
							</a>
						</td>
						<td width='15%'>
							<div style='display:none' id='videoGallery<!--{$videoGallery.videoGalleryId}-->'>
								<p><h3>Description:</h3></p>
								<p><!--{$videoGallery.description}--></p>
							</div>
							<a href='<!--{$videoGallery.edit}-->' title="<!--{$videoGallery.title}-->">
								<!--{$videoGallery.title|truncate:50:"..."}-->
							</a>
						</td>
						<td width='30%'>
							<!--{if $videoGallery.description eq ""}-->( Empty )
							<!--{else}-->
							<a rel='modal' href='#videoGallery<!--{$videoGallery.videoGalleryId}-->' title='Click here to see the full version'>
								<!--{$videoGallery.description|truncate:70:"..."}-->
							</a>
							<!--{/if}-->
						</td>
						<td><!--{$videoGallery.videoId}--></td>
						<td><!--{$videoGallery.status|@ucfirst}--></td>
						<td><!--{$videoGallery.entryDate}--></td>
						<td>
						 <a href="<!--{$videoGallery.edit}-->" title="Edit"><img src="<!--{$imagePath}-->icons/pencil.png" alt="Edit" /></a>
						 <a href="<!--{$videoGallery.delete}-->" title="Delete"><img src="<!--{$imagePath}-->icons/cross.png" alt="Delete" /></a> 
						 <!--{if $videoGallery.status eq 'active'}-->
						 <a href="<!--{$videoGallery.preview}-->" target='_blank' title="Live Preview"><img src="<!--{$imagePath}-->icons/preview_icon.gif" alt="Preview" /></a> 
						  <!--{/if}-->
						</td>
					</tr>
			<!--{/foreach}-->
			<!--{/if}-->
				</tbody>
			</table>
		</div> <!-- End #tab1 -->		
	</div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->