<div class="content-box"><!-- Start Content Box -->	
	<div class="content-box-header">
		<h3>Manage Comments</h3>
		<ul class="content-box-tabs">
			<li><a href="#tab1" class="default-tab">Table</a></li>
		</ul>
		<div class="clear"></div>
	</div> <!-- End .content-box-header -->
	
	<div class="content-box-content">
		<div class="tab-content default-tab" id="tab1">
		
			<!--{if isset($SiteData.comments.successMsg)}-->
			<div class="notification success png_bg">
				<a class="close" href="javascript:void(0)"><img alt="close" title="Close this notification" src="<!--{$imagePath}-->icons/cross_grey_small.png"></a>
				<div>
					<!--{$SiteData.comments.successMsg}-->
				</div>
			</div>				
			<!--{/if}-->
			<!--{if isset($SiteData.comments.errorMsg)}-->
			<div class="notification error png_bg">
				<a class="close" href="#"><img alt="close" title="Close this notification" src="<!--{$imagePath}-->icons/cross_grey_small.png"></a>
				<div>
					<!--{$SiteData.comments.errorMsg}-->
				</div>
			</div>				
			<!--{/if}-->
			<!--{if $SiteData.comments.records|@count eq 0}-->
			<div class="notification attention png_bg">
				<div>
					There are no comments to manage, please come later
				</div>
			</div>
			<!--{else}-->
			<table>
				<thead>
					<tr>
					   <th>Fullname</th>
					   <th>Gender</th>
					   <th>Comment</th>
					   <th>Email</th>
					   <th>Status</th>
					   <th>Entry Date</th>
					   <th>Actions</th>
					</tr>
				</thead>
			<!--{foreach from=$SiteData.comments.records key=k item=comment}-->
					<tr>
						<td>
							<div style='display:none' id='comment<!--{$comment.commentsId}-->'>
								<p><h3><!--{$comment.fullname|@ucfirst}--> Says:</h3></p>
								<p><!--{$comment.comment}--></p>
							</div><!--{$comment.fullname|@ucfirst}--></td>
						<td><!--{$comment.gender|@ucfirst}--></td>
						<td><a rel='modal' href='#comment<!--{$comment.commentsId}-->' title='<!--{$comment.comment}-->'><!--{$comment.comment|truncate:100:"..."}--></a></td>
						<td><!--{if $comment.email eq ""}-->( Empty )<!--{else}--><a href="mailto:<!--{$comment.email}-->"><!--{$comment.email}--></a><!--{/if}--></td>
						<td><!--{$comment.status|@ucfirst}--></td>
						<td><!--{$comment.entryDate}--></td>
						<td>
						 	<a href="<!--{$comment.disapprove}-->" title="Disapprove"><img src="<!--{$imagePath}-->icons/cross.png" alt="Disapprove" /></a>
						 	<!--{if $comment.status eq "pending"}-->
						 	<a href="<!--{$comment.approve}-->" title="Approve"><img src="<!--{$imagePath}-->icons/tick_circle.png" alt="Approve" /></a>  
							<!--{/if}-->
						</td>
					</tr>
			<!--{/foreach}-->
				</tbody>
			</table>
			<!--{/if}-->
		</div> <!-- End #tab1 -->		
	</div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->