#blog-page { font-size: 15px; }

#blog-content p {margin-bottom: 10px;}

#blog-content header { margin-bottom: 20px;}

	#blog-content header figure{
		float: left;
		position: relative;
		margin: 10px 10px 0 0;
		border: 1px solid #363636}
	
	#blog-content header figure figcaption {
		width: 255px; height: 7px;
		bottom: -8px;
		background: url('images/layout/sprite.png') no-repeat 0 -265px transparent;
		position: absolute;}
	
	#blog-content header figure img {display: block;}
	
	#blog-content header aside{
		float: left;
		width: 710px;
		margin-top: 20px;}
		
	#blog-content header aside h2 {
		font-size: 20px;
		margin-bottom: 10px;
		color: #000;}
	
	#details {
		margin-left: 0;}
		
		#details li {
			float: left;
			font-size: 12px;
			line-height: 13px;
			color: #888;
			margin-right: 10px; padding-left: 16px; padding-right: 10px;
			border-right: 1px solid #888;
			background-image: url('images/layout/sprite.png');
			background-repeat: no-repeat}
		
		#details .author {
			background-position: -25px -215px}
			
		#details .date {
			background-position: -130px -215px}
			
		#details .time {
			border-right: none;
			background-position: -240px -215px }