#volunteer-intro {
	margin-bottom: 50px;}

#volunteer-intro h1{ font-size: 17px; line-height: 30px; width: 750px;}
	
.innerPageTitle {
	width: 100%;
	font-size: 20px;
	color: #6d0d16;
	margin-bottom: 30px;  padding-bottom: 5px;
	border-bottom: 4px solid #333; }
	
	.innerPageTitle figure {
		padding-left: 30px;
		background-image: url('images/layout/sprite_contact.png');
		background-repeat: no-repeat;
		background-color: transparent;
		}
	
	#volunteer-icon {
		background-position: left -545px }
	
	#question-icon {
		background-position: left -576px }
	
	#contact-icon {
		background-position: left -607px }
		
	#facebook-icon {
		background-position: left -638px }
	
		
#volunteer-content {
	float: left;
	width: 480px;
	margin: 0 15px 0 0;}
	
	#volunteer-content ul.list{
		font-size: 17px;  }
	
	#volunteer-content ul.list li{ padding-left: 30px; margin-bottom: 10px }	
		
	#volunteer-form input.txt{
		width: 260px;}
		
	#volunteer-form textarea{
		width: 300px; height: 100px}
	
	#fullName input{
		background-image: url('images/layout/sprite_contact.png');
		background-position: right 0; }
		
		#fullName input:focus{ 
			background-position: right -30px;}
			
		#fullName.error input{ 
			background-position: right -60px;}
			
	#email input{
		background-image: url('images/layout/sprite_contact.png');
		background-position: right -90px; }
		
		#email input:focus {
			background-position: right -120px;}
			
		#email.error input{ 
			background-position: right -150px;}
		
	#phoneNumber input{
		background-image: url('images/layout/sprite_contact.png');
		background-position: right -180px; }

		#phoneNumber input:focus {
			background-position: right -210px;}
			
		#phoneNumber.error input{ 
			background-position: right -240px;}	

	#website input{
		background-image: url('images/layout/sprite_contact.png');
		background-position: right -270px;}
		
		#website input:focus {
			background-position: right -300px;}
		
		#website.error input{ 
			background-position: right -330px;}	

	#question input{
		background-image: url('images/layout/sprite_contact.png');
		background-position: right -360px;}
		
		#question input:focus {
			background-position: right -390px;}
			
		#question.error input{ 
			background-position: right -330px;}

			
#volunteer-sidebar {
	float: right;
	width: 480px}