<div class="content-box"><!-- Start Content Box -->
	
	<div class="content-box-header">
		<h3>Manage Blog Posts</h3>
		<ul class="content-box-tabs">
			<li><a href="#tab1" class="default-tab">Table</a></li> <!-- href must be unique and match the id of target div -->
		</ul>
		<div class="clear"></div>
	</div> <!-- End .content-box-header -->
	
	<div class="content-box-content">
		<div class="tab-content default-tab" id="tab1">
			<!--{if isset($SiteData.blog.successMsg)}-->
			<div class="notification success png_bg">
				<a class="close" href="javascript:void(0)"><img alt="close" title="Close this notification" src="<!--{$imagePath}-->icons/cross_grey_small.png"></a>
				<div>
					<!--{$SiteData.blog.successMsg}-->
				</div>
			</div>				
			<!--{/if}-->
			<!--{if isset($SiteData.blog.errorMsg)}-->
			<div class="notification error png_bg">
				<a class="close" href="#"><img alt="close" title="Close this notification" src="<!--{$imagePath}-->icons/cross_grey_small.png"></a>
				<div>
					<!--{$SiteData.blog.errorMsg}-->
				</div>
			</div>				
			<!--{/if}-->
			<!--{if $SiteData.blog.records|@count eq 0}-->
			<div class="notification attention png_bg">
				<div>
					There are no blog posts to manage to get started 
					<a href='<!--{$applicationPath}-->?action=blog&type=add'> <b>Write your first blog post</b></a>
				</div>
			</div>
			<!--{else}-->
			<table>
				<thead>
					<tr>
					   <th>Post</th>
					   <th>Author</th>
					   <th>Status</th>
					   <th>Date</th>
					   <th>Actions</th>
					</tr>
				</thead>
			 
			<!--{foreach from=$SiteData.blog.records key=k item=blog}-->
					<tr>
						<td><a href='<!--{$blog.edit}-->' title='<!--{$blog.title}-->'><!--{$blog.title|truncate:50:"..."}--></a></td>
						<td><!--{$blog.author}--></td>
						<td><!--{$blog.status|@ucfirst}--></td>
						<td><!--{$blog.date}--></td>
						<td>
						 <a href="<!--{$blog.edit}-->" title="Edit"><img src="<!--{$imagePath}-->icons/pencil.png" alt="Edit" /></a>
						 <a href="<!--{$blog.delete}-->" title="Delete"><img src="<!--{$imagePath}-->icons/cross.png" alt="Delete" /></a> 
						 <!--{if $blog.status eq 'active'}-->
						 <a href="<!--{$blog.preview}-->" target='_blank' title="Live Preview"><img src="<!--{$imagePath}-->icons/preview_icon.gif" alt="Preview" /></a> 
						  <!--{/if}-->
						</td>
					</tr>
			<!--{/foreach}-->
			<!--{/if}-->
				</tbody>
			</table>
		</div> <!-- End #tab1 -->		
	</div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->