		<section>
			<section id='about-content'>
				<article>
				<!--
					<header class='innerPageTitle'>
						<figure id='question-icon'>Who are we?</figure>
					</header>
					<ul id='members'>
						<li>
							<figure><img src='files/pic1.jpg' alt='' /></figure>
							<div>
								<h2>Murtaza Akhound</h2>
								<span>Director of Photography</span>
								<p>Murtaza has been involved with A.H. TV since it first came into existence in 2009. He has been a valuable member of the team helping in anyway possible.<br/>
								His expertise are in filming and editing, he is the man behind the camera. He comes up with the various camera angles for all of our shows.<br/>
								Another little known fact about Murtaza is his ability to single handedly do the make up for Satan in the Whispers show.  
								</p>
								<nav>
									<a class='facebook' href='javascript:void(0)'>Facebook</a>
									<a class='twitter' href='javascript:void(0)'>Twitter</a>
									<a class='delicius' href='javascript:void(0)'>Delicius</a>
									<a class='digg' href='javascript:void(0)'>Digg</a>
									<a class='yahoo' href='javascript:void(0)'>Yahoo</a>
									<a class='myspace' href='javascript:void(0)'>Myspace</a>
									<a class='linked' href='javascript:void(0)'>LinkedIn</a>
									<a class='skype' href='javascript:void(0)'>Skype</a>
									<a class='google' href='javascript:void(0)'>Google</a>
									<a class='website' href='javascript:void(0)'>Website</a>
								</nav>
							</div>
						</li>
						
						<li class='last'>
							<figure><img src='files/pic1.jpg' alt='' /></figure>
							<div>
								<h2>Ali Alvi</h2>
								<span>Producer/ Host</span>
								<p>Ali first got involved with A.H. TV in February of 2011. He initially came on board as a volunteer to help with a talk show, however very quickly he 

became a great asset for the station and began working full time. He comes with great ideas and concepts for shows; along with acting in and 

hosting different shows, he also helps coach other actors participating in the shows.</p>
								<nav>
									<a class='facebook' href='javascript:void(0)'>Facebook</a>
									<a class='twitter' href='javascript:void(0)'>Twitter</a>
									<a class='delicius' href='javascript:void(0)'>Delicius</a>
									<a class='digg' href='javascript:void(0)'>Digg</a>
									<a class='yahoo' href='javascript:void(0)'>Yahoo</a>
									<a class='myspace' href='javascript:void(0)'>Myspace</a>
									<a class='linked' href='javascript:void(0)'>LinkedIn</a>
									<a class='skype' href='javascript:void(0)'>Skype</a>
									<a class='google' href='javascript:void(0)'>Google</a>
									<a class='website' href='javascript:void(0)'>Website</a>
								</nav>
							</div>
						</li>
					</ul>
					-->
					<p>
					Anwar Al-Hussain is the first Muslim television station based in the United States exclusively broadcasting in English via satellite, cable, internet, and mobile. We aim to present the Shi'a faith and teachings of Prophet Mohammad and his progeny. The ultimate goal is to have the audience understand the values of Imam Hussain and the reasons behind Imam Hussain's martyrdom.
					</p>
				</article>
				
				<article>
					<header class='innerPageTitle'>	
						<figure class='no-icon'>Our goals:</figure>
					</header>
					<p>Anwar Al-Hussain TV strives to educate both Muslims and non-Muslims alike about the true Message of Islam and to clarify misconceptions regarding Islam and Muslims. We seek to accomplish this by presenting Islam from the two divinely protected sources: the Holy Qur'an and the progeny of Prophet Mohammad. Further, we aim to aid young Muslims living in Western societies in order to help their growth in their environments without compromising their Islamic morals and values. </p>
				</article>
				
				<article>
					<header class='innerPageTitle'>	
						<figure class='no-icon'>Our methods:</figure>
					</header>
					<p>We believe television to be a crucial medium in helping provide an alternative source for gaining knowledge about Islam. We are currently working with a very limited staff that consists mostly of volunteers, for whom we are very grateful. Anwar Al-Hussain TV is supported by donations from individuals who wish to help spread the words of the Holy Prophet and his progeny. We are thankful for all those who help the station in pursuing its goals.</p>	
				</article>				
				
			</section>
		</section>