		<section id='about-intro'>
					<p>
					Media plays a critical role in communicating information around the globe, and television is among the well known pieces of media as we know it.
					</p>
					<p>
						Especially with the current technology, televised programs can be viewed anywhere around the world. Such capabilities can be used to shape public opinion in any age group and define new means to mental growth in society. 
					</p>
					<p>
					The Western society and especially Northern America had an unprecedented exposure to Islam after the 9-11 incident and even more to Shi'a after freedom of Iraq from the Ba'th party.  The great event of Ashura and Arbaeen of the same year (2003) was able to pull a lot of audience through different televised news and programs. 
					</p>
		</section>
		<section>
			<section id='about-content'>
				<article>
					<header class='innerPageTitle'>
						<figure id='question-icon'>Who are we?</figure>
					</header>

					<p>
					Anwar Al-Hussain is the first visual media in English based in US, and broadcasts via satellite, cable, internet, and mobile. Its aims are to present the Shi'a ideology and teachings of Prophet Muhammad (PBUH) and his progeny. The ultimate goal is to have the audience understand the values of Imam Hussain (A.S.) and the reasons Imam Hussain (A.S.) was martyred.
					</p>
				</article>
				<article>
					<header class='innerPageTitle'>
						<figure id='question-icon'>What we do?</figure>
					</header>
					<p>Anwar al-Hussain TV strives to educate both Muslims and non-Muslims about the true Message of Islam and to eradicate all misconceptions about Islam and Muslims. We seek to accomplish this by presenting Islam from the two divinely protected sources, the Holy Qur'an and the Pure Ahlul Bayte of Prophet Mohammed (s). Our aim is to also bring guidance to young Muslims on how to live Islam in West and integrate into Western society without compromising our Islamic morals and values. We chose television as our means to propagate our message because tv is seen all around the world and our youth should be watching programs that will give them a proper education about their Muslim faith.</p>
				</article>
				
				<article>
					<header class='innerPageTitle'>	
						<figure id='question-icon'>How do we do it?</figure>
					</header>
					<p>Currently we are working with a very limited staff. We have some volunteers who step in and help when needed. We look forward to having more volunteers and eventually becoming fully staffed in the near future.</p>
				</article>
				
			</section>
		</section>