		<section id='about-intro'>
			Medium or Long text to say what this page want to say....
		</section>
		<section>
			<section id='about-content'>
				<article>
					<header class='innerPageTitle'>
						<figure id='question-icon'>Who are we?</figure>
					</header>
					<p>A <strong>brief</strong> paragraph of who we are,...</p>
				</article>
				<article>
					<header class='innerPageTitle'>
						<figure id='question-icon'>What we do?</figure>
					</header>
					<p>The aim Anwar al-Hussain is to educate both Muslims and non-Muslims about the true Message of Islam and to eradicate all misconceptions about Islam and Muslims. We seek to accomplish this by presenting Islam from the two divinely protected sources, the Holy Qur?an and the Pure Ahlul Bayte of Prophet Mohammed (s). Our aim is to also bring guidance to young Muslims on how to live Islam in West and integrate into Western society without compromising our Islamic morals and values. We chose television as our means to propagate our Message because it has become a universal all around the world, and since most children spend much time in front of the TV on a daily basis, our youth should be watching programs that will give them a proper education about their Muslim faith.</p>
				</article>
				
				<article>
					<header class='innerPageTitle'>
						<figure id='question-icon'>When did we start?</figure>
					</header>
					<p>A <strong>brief</strong> paragraph about this section....</p>
				</article>
				
				<article>
					<header class='innerPageTitle'>
						<figure id='question-icon'>How do we do it?</figure>
					</header>
					<p>A <strong>brief</strong> paragraph about this section....</p>
				</article>
				
			</section>
		</section>