<section id='blog-page'>

<!--{if $SiteData.blog.record eq ''}-->
	<div style="text-align:center; margin:70px 0;">
			<img src="http://alhussaintv.tv/style/default/red/images/general/underconstruction.png">
			<h1 style='font-size:28px'>Coming Soon</h1>
	</div>
<!--{else}-->
	<section id='blog-content'>
		<article>
			<header class='clearfix'>
				<figure>
					<a href='<!--{$SiteData.blog.record.link}-->'>
						<img src='<!--{$SiteData.blog.record.thumb}-->' width='255' height='170' />
					</a>
					<figcaption class='ir'></figcaption>
				</figure>
				<aside>
					<h2><!--{$SiteData.blog.record.title}--></h2>
					<div id='details'>
						<span class='author'><!--{$SiteData.blog.record.fullname}--></span>
						<span class='date'><!--{$SiteData.blog.record.friendlyDate}--></span>
						<span class='time'><!--{$SiteData.blog.record.time}--></span>
					</div>
				</aside>
			</header>
			<!--{$SiteData.blog.record.article}-->
		</article>
	</section>		
	<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="<!--{$pagePath}-->" num_posts="7" width="800"></fb:comments>
	
<!--{/if}-->		
</section>		
