		<section id='volunteer-intro'>
			<h1>Fatima's (as) was a life in bloom,
Her roots permeated in dignity and perfection,
these roots gave way to the blossoming of a noble tree,
a tree which bore the bounties of God... the Imams of the Ahlul Bayt (as).
These fruitful bounties, each drenched with the richness of knowledge and the sweetness of their mannerisms.
Fatima (as), the mother of the Imams (as).<p>
	With her birthday upon us, let's remember Fatima Al-Zahra (as) for her magnificence and through her, the growth of the Ahlul Bayt (as). Fatima Al-Zahra (as) was the best mother, the best wife, and the most loving daughter this earth has been blessed with. She shines as the strength of all women. A personality as devoted to God as Fatima Al-Zahra (as), deserves a tribute from each of us.
</p></h1>
		</section>
		<section>
			<section id='volunteer-content'>
				
				<header class='innerPageTitle innerPageTitle'>
					<figure id='question-icon'>What?</figure>
				</header>
				<p>
					Submit a 5-10 minute video clip, talking about how Fatima Al-Zahra (as) inspires you, how she impacts your life, and/or what she means to you. If selected, your video will be aired on Anwar Al-Hussain TV.

				</p>
				<header class='innerPageTitle innerPageTitleMore'>
					<figure id='question-icon'>Who?</figure>
				</header>
				<p>
					Open to all ages
				</p>
				
				<header class='innerPageTitle innerPageTitleMore'>
					<figure id='question-icon'>Why?</figure>
				</header>
				<p>
				To commemorate the holy birth of Fatima Al-Zahra (as). Let's join together to pay tribute to this noble Lady.
				</p>
				<header class='innerPageTitle innerPageTitleMore'>
					<figure id='question-icon'>When?</figure>
				</header>
				<p>
					Submit your videos by May 19, 2012
				</p>
				
			</section>
			<aside id='volunteer-sidebar'>
				<header class='innerPageTitle'>
					<figure id='volunteer-icon'>Fatimeyah Campaign A.H. TV</figure>
				</header>
				<form id="volunteer-form" class="form">
					<table>
						<tbody><tr id="fullName">
							<td><label>Full name</label></td>
							<td><input type="text" class="txt" name="volFullname"></td>
						</tr>
						<tr id="email">
							<td><label>Email</label></td>
							<td><input type="text" class="txt" name="volEmail"></td>
						</tr>
						<tr id="phoneNumber">
							<td><label>Phone number</label></td>
							<td><input type="text" class="txt" name="volTel"></td>
						</tr>
						<tr id="school">
							<td><label>Youtube link</label></td>
							<td><input type="text" class="txt" name="videoLink"></td>
						</tr>
						<tr>
							<td><label>Description</label></td>
							<td>
								<textarea name='valMessage'></textarea>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><button type="submit" style='float:right'>Submit</button></td>
						</tr>
					</tbody></table>
				</form>
				<header class='innerPageTitle innerPageTitleMore' style="margin-top: 8px">
					<figure id='question-icon'>Technical information?</figure>
				</header>
				<p>
					    Your video resolution must be a minimum of WVGA (800 x 480 pixels)
						All videos must be done in English to the best of your ability. Allah (swt) will reward you for your effort insha'Allah
				</p>
			</aside>
		</section>
