		<section id='contact-intro'>
			You can contact us directly via Twitter or Facebook. Alternatively you can use the form below and we will get in touch with you within 24hours.
			<ul class='clearfix'>
				<li class='emailAddr'><a href='mailto:info@alhussaintv.tv'>info@alhussaintv.tv</a> - <a href='mailto:donate@alhussaintv.tv'>donate@alhussaintv.tv</a></li>
				<li class='telNumber'>1-703-898-8114</li>
				<li class='faxNumber'>1-703-898-811?</li>
			</ul>
		</section>
		<section id='contact-content'>
			<section>
				<header class='innerPageTitle'>
					<figure id='contact-icon'>Contact us</figure>
				</header>
				<form id='contact-form' class='form' action='' method=''>
					<table>
						<tr id='fullName'>
							<td><label>Full name</label></td>
							<td><input type='text' class='txt' name='contactFullname' /></td>
						</tr>
						<tr id='email'>
							<td><label>Email</label></td>
							<td><input type='text' class='txt' name='contactEmail'/></td>
						</tr>
						<tr id='phoneNumber'>
							<td><label>Phone number</label></td>
							<td><input type='text' class='txt'  name='contactTel' /></td>
						</tr>
						<tr id='website'>
							<td><label>Website <span>(optional)</span></label></td>
							<td><input type='text' class='txt' name='contactWeb' /></td>
						</tr>
						<tr id='question'>
							<td><label>How do you rate our site?</label></td>
							<td><input type='text' class='txt' name='contactQuestion'  /></td>
						</tr>
						<tr>
							<td><label>Nature of your email</label></td>
							<td>
								<select name='contactReason' >
									<option>
										Compliment
									</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><label>Message</label></td>
							<td>
								<textarea name='contactMessage'>What's in your mind?</textarea>
							</td>
						</tr>
						<tr>
							<td></td>
							<td colspan='2'><button>Submit</button></td>
						</tr>
					</table>
				</form>
			</section>
			<section>
				<header class='innerPageTitle'>
					<figure id='facebook-icon'>Find us on Facebook</figure>
				</header>
				<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FAnwar-Al-Hussain-Guidance-for-Revival%2F160722923969793&amp;width=550&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=292" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:550px; height:292px;" allowTransparency="true"></iframe>
			
			</section>
		</section>
		<aside id='contact-sidebar'>
			<section id='contact-twitter'>
				<div>
					<figure id='contact-twitter-icon' class='ir'>Alhussain Tweets</figure>
					<figure id='contact-twitter-bird' class='ir'>Alhussain Tweets</figure>
					<p>Religion briefs: Maine Catholic bishop condemns anti-Islam graffiti <a href='javascript:void(0)'>http://bit.ly/lkULSl</a></p>
					<a id='contact-twitter-link' href='<!--{$SiteData.socialLinks.twitter.url}-->' title='<!--{$SiteData.socialLinks.twitter.title}-->'>Follow us on s</a>
				</div>
			</section>
			<hr/>
			<section id='contact-map'>
				<a id='contact-map-link' href='javascript:void(0)'>(Find us on google map)</a>
				<figure>
					<img src='<!--{$imagePath}-->contact/map.png' usemap='#alhussain-map' alt='' />
					<figcaption>8924 victoria rd Springfield VA,USA</figcaption>
				</figure>
				<map name='alhussain-map'>
					<area shape='circle' title='Click to find our place on google map' coords='160,94,20,30' href='javascript:void(0)' alt='Alhussain place' />
				</map>
			</section>
			<hr/>
			<section id='contact-vcard'>
				<a href='javascript:void(0)'><img src='<!--{$imagePath}-->contact/vcard.png' alt='Alhussain vCard' /></a>
			</section>
			<hr/>
			<section id='contact-donation' class='clearfix'>
				<figure class='ir' id='donation-paypal-icon'>Paypal</figure>
				<figure class='ir' id='donation-banks-icon'>Credit Card Companies</figure>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="WSEBNYA436Z4E">
						<button id='contact-donate-button' alt="PayPal - The safer, easier way to pay online!" class='donate-button'>Donate to Alhussain TV Now</button>
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>
			</section>
			<hr/>
			<section id='contact-rss'>
				<figure class='ir' id='contact-rss-icon'>RSS</figure>
				<form method='' action=''>
					<input type='type' class='txt' value='Enter your email for recieving newsletters' />
					<button>Submit</button>
				</form>
			</section>
		</aside>