		<section id='events-box'>
			<time>May 27-29<sup>th</sup> 2011</time>
			<div class='clearfix'>
				<h2>UMAA Convention</h2>
				<p>"The Quran, Ahlul Bayt & Modern Society: A Focus on Identity, Citizenship and Collaboration"</p>
				<section>
					<figure>
						<img src='<!--{$imagePath}-->events/hilton_suites_toronto.jpg' alt='Hilton Suites Toronto' />
						<figcaption>
							<h3>Hilton Suites Toronto</h3>
						</figcaption>
					</figure>
					<address>
						8500 Warden Avenue, Markham, Ontario, Canada L6G 1A5<br/>
						 <span>Tel: 1-905-470-8500</span>
						 <nav>
							<a class='event-facebook ir' href='javascript:void(0)'>AlhussainTV Facebook Link</a>
							<a class='event-twitter ir' href='javascript:void(0)'>AlhussainTV Twitter Link</a>
							<a class='event-youtube ir' href='javascript:void(0)'>AlhussainTV Youtube Link</a>
						 </nav>
					</address>
				</section>
				<aside id='event-sponsors'>
					<h3>Sponsors</h3>
					<ul>
						<li>Imam Shirazi World Foundation</li>
						<li>Imam Ali (A.S) Center Springfield VA</li>
						<li>Prestige Productionz DC</li>
						<li>Kabob Factory Lorton VA</li>
						<li>Syndakit Media Corp Ontario Canada</li>
					</ul>
				</aside>
			</div>
			<footer></footer>
		</section>