		<section id='events-box'>
			<time>May 27-29<sup>th</sup> 2011</time>
			<div class='clearfix'>
				<h2>UMAA Convention</h2>
				<p>"The Quran, Ahlul Bayt & Modern Society: A Focus on Identity, Citizenship and Collaboration"</p>
				<section>
					<figure>
						<img src='<!--{$imagePath}-->events/hilton_suites_toronto.jpg' alt='Hilton Suites Toronto' />
						<figcaption>
							<h3>Hilton Suites Toronto</h3>
						</figcaption>
					</figure>
					<address>
						8500 Warden Avenue, Markham, Ontario, Canada L6G 1A5<br/>
						 <span>Tel: 1-905-470-8500</span>
						 <nav>
							<a class='event-facebook ir' href='<!--{$SiteData.socialLinks.facebook.url}-->' title='<!--{$SiteData.socialLinks.facebook.title}-->'>AlhussainTV Facebook Link</a>
							<a class='event-twitter ir' href='<!--{$SiteData.socialLinks.twitter.url}-->' title='<!--{$SiteData.socialLinks.twitter.title}-->'>AlhussainTV Twitter Link</a>
							<a class='event-youtube ir' href='<!--{$SiteData.socialLinks.youtube.url}-->' title='<!--{$SiteData.socialLinks.youtube.title}-->'>AlhussainTV Youtube Link</a>
						 </nav>
					</address>
				</section>
				<aside>
						<h1>Activities include:</h1>
						<ul class='list'>
							<li>Lectures, Workshops, and Special Sessions</li>
							<li>Matrimonial Services</li>
							<li>The first ever international Shia Video Games tournament competition for the yout</li>
							<li>Brand new Museum Exhibit</li>
							<li>Islamic Movie Programming</li>
						</ul>
				</aside>
			</div>
			<footer></footer>
		</section>