		<section>
			<section id='faq-content'>
				<header class='innerPageTitle'>
					<figure id='question-icon'>FAQ</figure>
				</header>
				<p>Feel free to ask us any question so please use contact us form to ask us (sample text)</p>
				<ul id='faq-list'>
					<li>
						<a href='javascript:void(0)'><figure class='ir'></figure>Can I give Khoms money to A.H.TV?</a>
						<div >Yes. What better way to serve our Imam Zaman (ATF) than through this fantastic Tabligh initiative? We have permission to use Khoms funds towards funding A.H. TV operations from several religious authorities.</div>
					</li>
					<li>
						<a href='javascript:void(0)'><figure class='ir'></figure>How can I donate to A.H.TV?</a>
						<div>There are many ways you can help. Please click on the "Donate" button on the main page and it will lead you to donate via credit card, debit card, and Paypal. You can also send us checks or a wire transfer.  </div>
					</li>
					<li>
						<a href='javascript:void(0)'><figure class='ir'></figure>Can I volunteer for A.H.TV?</a>
						<div>
							Yes, as a matter of fact the more volunteers we have in the name of Imam Hussain (a.s) the better.<br/>
							Currently need volunteers to help in the following areas:
							<ol>
								<li>Translation (Arabic and Farsi into English)</li>
								<li>Script writing</li>
								<li>Acting</li>
							</ol>
							Please email us at info@alhussaintv.tv with your preferred area of work and a brief resume and we will contact you shortly.
						</div>
					</li>
					<li>
						<a href='javascript:void(0)'><figure class='ir'></figure>Who provides religious guidance to the channel?</a>
						<div>It is very important that A.H. TV adheres to a strict ethical code and Islamic jurisprudence in light of the teachings of Ahlul Bayt (PBUT). Therefore, 
						we are very careful that no religious ruling is broken, plus we are personally supervised by a number of highly qualified scholars.  </div>
					</li>
				</ul>				
			</section>
		</section>