			<header id='welcome-note'>
			<h1>
				<p>
					<b>W</b>elcome to Anwar Al-Hussain Official TV Channel Website .The aim of Anwar Al-Hussain is to educate both Muslims and non-Muslims about the true Message of Islam and to eradicate all misconceptions about Islam and Muslims.
				</p>
				<p>
					We seek to accomplish this by presenting Islam from the two divinely protected sources, the Holy Quran and the Pure Ahlul Bayte of Prophet Mohammed (s).
				</p>
				<p>
					Our aim is to also bring guidance to young Muslims on how to live Islamically in the West and how to integrate into Western society without compromising our Islamic morals and values.
				</p>				
			</h1>
		</header>
		<section id='homepage-left'>
			<section id='homepage-videos' class='relative'>
				<a href='<!--{$applicationPath}-->video' class='more'><figure>See all Videos<figcaption></figcaption></figure><i></i></a>
				<header class='homepage-box-header'>
					<figure>Latest Videos</figure>
					<i></i>
				</header>
				<div class='carousel-small carousel clearfix'>
					<a href='javascript:void(0)' class='prev links' ><figure class='ir'>previous video</figure></a>
					<nav>
						<ul class='horizontal clearfix'>
							<!--{foreach from=$SiteData.homepage.videoThumbs item=video name='videolist'}-->
							<li>
								<a href='<!--{$video.original}-->'>
									<figure>
										<img src='<!--{$video.thumb}-->' />
										<figcaption class='ir'></figcaption>
									</figure>
								</a>
							</li>							
							<!--{/foreach}-->
						</ul>
					</nav>
					<a href='javascript:void(0)' class='next links' ><figure class='ir'>next video</figure></a>
				</div>
				<footer class='homepage-box-footer'><figure></figure></footer>
			</section> <!-- </homepage-videos> -->
			
			<section  id='homepage-posts' class='relative'>
				<header class='homepage-box-header'>
					<figure>Latest News</figure>
					<i></i>
				</header>		
				<!--{if $SiteData.homepage.news|@count eq 0}-->
					<div style='height:265px;'><h1 style="margin:20px 0; height: 269px; line-height: 269px;text-align:center; font-size: 28px;text-shadow: 3px 8px 14px #333333">Coming Soon</h1>
					</div>
				<!--{else}-->
				<a href='<!--{$applicationPath}-->newsList' class='more'><figure>More News<figcaption></figcaption></figure><i></i></a>
				<ul>
					<!--{foreach from=$SiteData.homepage.news key=k item=news}-->
					<li>
						<article>
							<header>
								<h2><a href='<!--{$news.link}-->'><!--{$news.title}--></a></h2>
								<figure><img src='<!--{$news.image}-->' /></figure>
							</header>
							<p>	<!--{$news.shortDescription}-->	
							...<a href='<!--{$news.link}-->'>more</a>
							</p>
						</article>
					</li>			
					<!--{/foreach}-->			
				</ul>
				<!--{/if}-->
				<footer class='homepage-box-footer'><figure></figure></footer>
			</section> 
			
			<section id='homepage-images' class='relative'>
				<a href='<!--{$applicationPath}-->imageGallery' class='more'>
					<figure>See all images<figcaption></figcaption></figure><i></i>
				</a>
				<header class='homepage-box-header'>
					<figure>Latest Images</figure>
					<i></i>
				</header>
				<div class='carousel-small carousel clearfix'>
					<a href='javascript:void(0)' class='prev links' ><figure class='ir'>previous image</figure></a>
					<nav>
						<ul class='horizontal clearfix'>
							<!--{foreach from=$SiteData.homepage.imageThumbs item=image name='imagelist'}-->
							<li <!--{if $smarty.foreach.imagelist.first}-->class=='last'<!--{/if}-->>
								<a href='<!--{$image.original}-->' class='largeImage' rel="myImage">
									<figure>
										<img src='<!--{$image.thumb}-->' width='176' height='110' />
										<figcaption class='ir'></figcaption>
									</figure>
								</a>
							</li>
							<!--{/foreach}-->
						</ul>
					</nav>
					<a href='javascript:void(0)' class='next links' ><figure class='ir'>next image</figure></a>
				</div>
				<footer class='homepage-box-footer'><figure></figure></footer>
			</section> <!-- </homepage-images> -->
			
		</section> <!-- </homepage-boxes > -->
		<aside id='homepage-sidebar'>			
			<section id='donation-sidebar'>
				<header class='homepage-box-header'>
					<figure>Donate</figure>
					<i></i>
				</header>
				<div class='clearfix'>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="WSEBNYA436Z4E">
						<button id='sidebar-donate-button' alt="PayPal - The safer, easier way to pay online!" class='donate-button'>Donate to Alhussain TV</button>
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
					<figure id='sidebar-donate-paypal'></figure>
					<figure id='sidebar-donate-creditcard'></figure>
				</div>
				<footer class='homepage-box-footer'><figure></figure></footer>
			</section><!-- </donation-sidebar> -->
			<header id='volunteerHeader'>
				<a href='<!--{$applicationPath}-->volunteer' id='volunteer-sidebar'>
					<figure></figure>
				</a>		
			</header>
			<!-- 
			<section id='vote-sidebar'>
				<header class='homepage-box-header'>
					<figure>Voting</figure>
					<i></i>
				</header>
				<div>
				
				</div>
				<footer class='homepage-box-footer'><figure></figure></footer>
			</section>
			 -->
			 <section id='facebook-sidebar'>
				<header class='homepage-box-header'>
					<figure>Find us in facebook</figure>
					<i></i>
				</header>
				<div id='fb-container'>
					<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FAnwar-Al-Hussain-Guidance-for-Revival%2F160722923969793&amp;width=250&amp;colorscheme=light&amp;show_faces=true&amp;stream=false&amp;header=false&amp;height=262" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:250px; height:262px;" allowTransparency="true"></iframe>
			 	</div>
				<footer class='homepage-box-footer'><figure></figure></footer>
			</section><!-- </facebook-sidebar> -->
			<section id='tweet-sidebar'>
				<header class='homepage-box-header'>
					<figure>Latest Tweets</figure>
					<i></i>
				</header>
				<div id='tweet-sidebar-box' class='tweetAutoFader'>
					<section>
						<i></i>
					  <!--{foreach from=$SiteData.tweets key =key item=tweet}-->
					  	<p <!--{if $key neq 0}--> style="display:none;"<!--{/if}--> itemprop="tweet"><!--{$tweet}--></p>
					  <!--{/foreach}-->
					</section>
					<a href='<!--{$SiteData.socialLinks.twitter.url}-->' title='<!--{$SiteData.socialLinks.twitter.title}-->' id='tweet-sidebar-icon'>Follow us on Twitter</a>
				</div>
				<footer class='homepage-box-footer'><figure></figure></footer>
			</section><!-- </tweet-sidebar> -->
			
		</aside> <!-- </ homepage-sidebar > -->
