	<section>
			<section id='blog-content'>
				<article>
					<header class='clearfix'>
						<figure>
							<img src='<!--{$imagePath}-->news/blog_pic.jpg' width='255' height='170' alt='' />
							<figcaption class='ir'></figcaption>
						</figure>
						<aside>
							<h2>An islamic religion teacher disputed the testimony of a Nazi camp survivor who recounted his story to students in a Brussels secondary school, Le Soir daily newspaper reported Tuesday.</h2>
							<ul id='details'>
								<li class='date'>May 19th, 2011</li>
								<li class='time'>19:30</li>
							</ul>
						</aside>
					</header>
					<p>Henri Kichka, 83, from the Union of Jewish deportees in Belgium, had been invited last Friday by the school in Laeken, a Brussels commune, to describe how he survived Buchenwald and his family members were killed in the death camps.</p>
					<p>During the meeting with the 150 students, the school was told by a teacher of Islamic religion that Kichka's account "was largely exaggerated." </p>
					<p>"This never happened to me in 25 years," Kichka, who is regularly invited to meet young people, told Le Soir.</p>
					<p>The school management had decided to film the meeting because, it said, "witnesses disappear and we want to keep tracks."</p>
				</article>
			</section>
		</section>