<section class='privacy'>
	<p>
	This privacy policy sets out how Anwar Al-Hussain uses and protects any information that you give Anwar Al-Hussain when you use this website.
Anwar Al-Hussain is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this privacy statement.
Anwar Al-Hussain may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective from 06/25/2011.
	
	</p>

</section>