			<section id='sponsors-content'>
				<ul id='sponsors-list'>
					<li>
						<figure><img src='<!--{$imagePath}-->sponsors/kabob_factory.png' alt=''/></figure>
						<span>
							<h2>Kabob Factory Lorton VA</h2>

							<p>About Kabob Factory Lorton VA....</p>
						</span>
					</li>
					<div class='sponsors-splitter'><a href="javascript:void(0)" class='gotop'>( to top )</a></div>
					<li class='right'>
						<figure><img src='files/kabob_factory.png' alt=''/></figure>
						<span>
							<h2>Prestige. Productionz Washington DC</h2>

							<p>About Prestige. Productionz Washington DC....</p>
						</span>
					</li>
					<div class='sponsors-splitter'><a href="javascript:void(0)" class='gotop'>( to top )</a></div>
					<li>
						<figure><img src='<!--{$imagePath}-->sponsors/iswf.png' alt=''/></figure>
						<span>
							<h2>Imam Shirazi World Foundation</h2>

							<p>About Imam Shirazi World Foundation....</p>
						</span>
					</li>
					<div class='sponsors-splitter'><a href="javascript:void(0)" class='gotop'>( to top )</a></div>
					<li class='right'>
						<figure><img src='files/kabob_factory.png' alt=''/></figure>
						<span>
							<h2>Imam Ali (A.S) Center Springfield VA</h2>

							<p>About Imam Ali (A.S) Center Springfield VA....</p>
						</span>
					</li>
				</ul>				
			</section>