			<section id='sponsors-content'>
				<ul id='sponsors-list'>
					<li>
						<figure><img data-href='http://kabobfactoryrestaurant.com' src='<!--{$imagePath}-->sponsors/kabob_factory.png' alt=''/></figure>
						<span>
							<h2>Kabob Factory Lorton VA</h2>
							<p>The best kabob in town! When you visit Kabob Factory your definatly in for a treat! They offer a selection of traditional Afghan dishes. The best quality of beef, lamb and chicken in the area cooked over charcoal. Kabob Factory's mouthwatering dishes will have you coming back for more in no time. </p>
							<p>Address: <i style='color:#777'>8170 Silverbrook Road Lorton, VA 22079</i> | Tel: <i style='color:#777'>(703) 495-0333</i></p>
						</span>
					</li>
					<div class='sponsors-splitter'><a href="javascript:void(0)" class='gotop'>( Back to top )</a></div>
					<li class='right'>
						<figure><img data-href='http://myprestigeproductions.com' style='width: 329px;' src='<!--{$imagePath}-->sponsors/pres.jpg' alt=''/></figure>
						<span style='width: 667px;'>
							<h2>Prestige.Productionz Washington DC</h2>
							<p> Prestige.Productionz is a professional filming company. Murteza Akhound, founder of Prestige.Productionz promises nothing but the very best. Not only does Prestige.Productionz do on- location videos for corporate events and meeting, productions for conferences and seminars, TV commercial production, marketing videos, as well as post production services such as creative editing and compositing in HD, special effects and animation. We are a company who guarantees to make our customers happy.</p>
							<p>Address: <i style='color:#777'>7900 Backlick Road Springfield, VA 22150 </i>Tel: <i style='color:#777'>(202) 716-1400</i></p>
						</span>
					</li>
					<div class='sponsors-splitter'><a href="javascript:void(0)" class='gotop'>( Back to top )</a></div>
					<li>
						<figure><img data-href='http://www.iswf.us/' src='<!--{$imagePath}-->sponsors/iswf.png' alt=''/></figure>
						<span>
							<h2>Imam Shirazi World Foundation</h2>
							<p>Imam Shirazi World Foundation is a non-profit organization dedicated to delivering the Islamic perspectives on issues of concern to mankind and the human civilization.</p>
							<p>Imam Shirazi World Foundation considers issues such as "Guidance and Development", "Freedom and Peace", "Compassion and Faith", "Justice and Grace", "Security and Stability", "Excellence and Prosperity", as hopes and aspirations of the entire Muslim Ommah (Nation), and those of the entire community of mankind, and therefore some of its fundamental aims are implementing them into reality.  </p>
							<p>Website: <a href='http://www.iswf.us/'>http://www.iswf.us/</a>
						</span>
					</li>
					<div class='sponsors-splitter'><a href="javascript:void(0)" class='gotop'>( Back to top )</a></div>
					<li class='right'>
						<figure><img data-href='http://www.imamalicenter.org/' src='<!--{$imagePath}-->sponsors/imam_ali_center.png' alt=''/></figure>
						<span>
							<h2>Imam Ali (A.S) Center Springfield VA</h2>
							<p>Website: <a href='http://www.imamalicenter.org/'>www.imamalicenter.org</a></p>
						</span>
					</li>
				</ul>				
			</section>