		<section id='testimonials-intro'>
			Please leave a comment to Alhussain TV, so we can get a better feetback from our users.
		</section>
		<section id='testimonials-content' class='clearfix'>
			<section>
				<!--{foreach from=$SiteData.comments key=k item=testi name=testi}-->
				<div class='<!--{if $smarty.foreach.testi.index is even by 1}-->left<!--{else}-->right<!--{/if}-->-align clearfix'>
					<figure class='testimonials-pic' class='miniRoundedCorner'><span <!--{if $testi.gender eq 'female'}-->class='female'<!--{/if}-->></span></figure>
					<aside class='miniRoundedCorner'>
						<figure class='ir'></figure>
						<b><!--{$testi.fullname}--></b>
						<p><!--{$testi.comment}--></p>
					</aside>
				</div>
				<div class='testimonials-splitter'><a href="javascript:void(0);" class='gotop'>( Top )</a></div>
				<!--{/foreach}-->
			</section>
			<section>
				<form id="testimonials-form" class="form clearfix">
					<table>
						<tr id="fullName">
							<td><label>Full name</label></td>
							<td><input type="text" class="txt" name="commentFullname"></td>
						</tr>
						<tr id="email">
							<td><label>Email</label></td>
							<td><input type="text" class="txt" name="commentEmail"></td>
						</tr>
						<tr>
							<td><label>Gender</label></td>
							<td style='padding-bottom:10px'>
								<label class='radio'>Male </label><input type="radio" name="commentGender" value='male' checked='checked'>
								<label class='radio'>Female</label> <input type="radio"  name="commentGender" value='female'>
							</td>
						</tr>
						<tr>
							<td><label>Message</label></td>
							<td><textarea name="commentMessage"></textarea></td>
						</tr>
						<tr>
							<td></td>
							<td><button type="submit">Submit</button></td>
						</tr>
					</table>
				</form>
			</section>
		</section>