	<div id='video-page'>
		<h2>Promotion</h2>
		<section id='video-player-frame'>
			<div>
				<iframe src="http://player.vimeo.com/video/24143863?title=0&amp;byline=0&amp;portrait=0" width="847" height="396" frameborder="0"></iframe>
			</div>
		</section>
		<p>This is our promotional video outlining some of our programs and discussing some of the reasons behind our channel. </p>
		
		
		<h2>What's your story</h2>
		<section id='video-player-frame'>
			<div>
				<iframe src="http://player.vimeo.com/video/24204753?title=0&amp;byline=0&amp;portrait=0" width="847" height="396" frameborder="0"></iframe>
			</div>
		</section>
		<p> Is a reality show with the purpose of this show being to illustrate the life of young Muslims in North America, and to guide, help, motivate, and encourage the interviewees and the viewers towards becoming successful pious individuals.  </p>
		
		
		<h2>Seconds Show</h2>
		<section id='video-player-frame'>
			<div>
				<iframe src="http://player.vimeo.com/video/24204283?title=0&amp;byline=0&amp;portrait=0" width="847" height="396" frameborder="0"></iframe>
			</div>
		</section>
		<p> During the era that everything is condensed and time is of the essence, A.H TV has put together short clips that range from 45 seconds to a minute to educate the audience in a very short period of time about the beauty of the words of Ahlul bayte.(a.s) </p>
		
		
		<h2>Journey of the sprit</h2>
		<section id='video-player-frame'>
			<div>
				<iframe src="http://player.vimeo.com/video/24204187?title=0&amp;byline=0&amp;portrait=0" width="847" height="396" frameborder="0"></iframe>
			</div>
		</section>
		<p>A series of documentaries about the life and history of reverts. In this series we give you an insight to the journey that lead the reverts to Islam. </p>
		
		
		<h2>llumination from the Quran</h2>
		<section id='video-player-frame'>
			<div>
				<iframe src="http://player.vimeo.com/video/24204130?title=0&amp;byline=0&amp;portrait=0" width="847" height="396" frameborder="0"></iframe>
			</div>
		</section>
		<p>Illumination from the Quran with Sheikh Abdul Jalil - Is all about tafsir of the Holy Quran. This is the first time the full tafsir of the Quran from the view of Ahlul bayte is being captured on video.</p>
		
	</div>	