		<section id='volunteer-intro'>
			Medium or Long text to describe why we need volunteers and how they can help....
		</section>
		<section>
			<section id='volunteer-content'>
				<header class='innerPageTitle'>
					<figure id='question-icon'>How you can help</figure>
				</header>
				<ul class='list'>
					<li>Reporter</li>
					<li>Reporter</li>
					<li>Reporter</li>
					<li>Reporter</li>
				</ul>
			</section>
			<aside id='volunteer-sidebar'>
				<header class='innerPageTitle'>
					<figure id='volunteer-icon'>Volunteer</figure>
				</header>
				<form id='volunteer-form' class='form'>
					<table>
						<tr id='fullName'>
							<td><label>Full name</label></td>
							<td><input type='text' class='txt' name='volFullname'  /></td>
						</tr>
						<tr id='email'>
							<td><label>Email</label></td>
							<td><input type='text' class='txt' name='volEmail' /></td>
						</tr>
						<tr id='phoneNumber'>
							<td><label>Phone number</label></td>
							<td><input type='text' class='txt'   name='volTel'  /></td>
						</tr>
						<tr id='website'>
							<td><label>Website <span>(optional)</span></label></td>
							<td><input type='text' class='txt'  name='volWeb'  /></td>
						</tr>
						<tr id='question'>
							<td><label>How do you rate our site?</label></td>
							<td><input type='text' class='txt'   name='volQuestion' /></td>
						</tr>
						<tr>
							<td><label>Nature of your email</label></td>
							<td>
								<select  name='volReason'>
									<option>
										Compliment
									</option>
								</select>
							</td>
						</tr>
						<tr>
							<td><label>Message</label></td>
							<td>
								<textarea  name='volMessage'>What's in your mind?</textarea>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><button type='submit'>Submit</button></td>
						</tr>
					</table>
				</form>
			</aside>
		</section>
