		<section id='volunteer-intro'>
			<h1>Currently we are working with a very limited staff. We have some volunteers who step in and help when needed. We look forward to having more volunteers and eventually becoming fully staffed in the near future.
			</h1>
		</section>
		<section>
			<section id='volunteer-content'>
				<header class='innerPageTitle'>
					<figure id='question-icon'>If are your interests we need volunteers for:</figure>
				</header>
				<ul class='list'>
					<li>Hosting</li>
					<li>Acting</li>
					<li>Research</li>
					<li>Technical</li>
					<li>Writer</li>
					<li>Art/ Design</li>
					<li>Other</li>
				</ul>
			</section>
			<aside id='volunteer-sidebar'>
				<header class='innerPageTitle'>
					<figure id='volunteer-icon'>Volunteer</figure>
				</header>
				<form id='volunteer-form' class='form'>
					<table>
						<tr id='fullName'>
							<td><label>Full name</label></td>
							<td><input type='text' class='txt' name='volFullname'  /></td>
						</tr>
						<tr id='email'>
							<td><label>Email</label></td>
							<td><input type='text' class='txt' name='volEmail' /></td>
						</tr>
						<tr id='phoneNumber'>
							<td><label>Phone number</label></td>
							<td><input type='text' class='txt'   name='volTel'  /></td>
						</tr>
						<tr id='website'>
							<td><label>Website <span>(optional)</span></label></td>
							<td><input type='text' class='txt'  name='volWeb'  /></td>
						</tr>
					
						<tr>
							<td><label>Message</label></td>
							<td>
								<textarea  name='volMessage'>What's in your mind?</textarea>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><button type='submit'>Submit</button></td>
						</tr>
					</table>
				</form>
			</aside>
		</section>
