		<section id='volunteer-intro'>
			<h1>Currently we are working with a very limited staff. We have some volunteers who step in and help when needed. We look forward to having more volunteers and eventually becoming fully staffed in the near future.
			</h1>
		</section>
		<section>
			<section id='volunteer-content'>
				<header class='innerPageTitle'>
					<figure id='question-icon'>If are your interests we need volunteers for:</figure>
				</header>
				<ul class='list'>
					<li>Hosting</li>
					<li>Acting</li>
					<li>Research</li>
					<li>Technical</li>
					<li>Writer</li>
					<li>Art/ Design</li>
					<li>Other( Please get detail in message )</li>
				</ul>
			</section>
			<aside id='volunteer-sidebar'>
				<header class='innerPageTitle'>
					<figure id='volunteer-icon'>Volunteer</figure>
				</header>
				<form id="volunteer-form" class="form">
					<table>
						<tbody><tr id="fullName">
							<td><label>Full name</label></td>
							<td><input type="text" class="txt" name="volFullname"></td>
						</tr>
						<tr id="email">
							<td><label>Email</label></td>
							<td><input type="text" class="txt" name="volEmail"></td>
						</tr>
						<tr id="phoneNumber">
							<td><label>Phone number</label></td>
							<td><input type="text" class="txt" name="volTel"></td>
						</tr>
						<tr id="school">
							<td><label>School/Work</label></td>
							<td><input type="text" class="txt" name="volSchool"></td>
						</tr>
						<tr id="city" class="question">
							<td><label>What city do you live in?</label></td>
							<td><input type="text" class="txt" name="volCity"></td>
						</tr>
						
						<tr>
							<td><label>When is the best time to contact you?</label></td>
							<td>
								<input type="checkbox" class="" name="checkWeekdays"><span>Weekdays</span>
								<input type="checkbox" class="" name="checkWeekends"><span>Weekends</span>
								<input type="checkbox" class="" name="checkDayTime"><span>Daytime</span>
								<input type="checkbox" class="" name="checkEvening"><span>Evening</span>
							</td>
						</tr>
						<tr>
							<td><label>What is the best way to contact you?</label></td>
							<td>
								<input type="checkbox" class="" name="checkPhone"><span>Phone</span>
								<input type="checkbox" class="" name="checkEmail"><span>Email</span>
							</td>
						</tr>
					
						<tr>
							<td><label>What are your interests?</label></td>
							<td>
								<input type="checkbox" class="" name="checkPhone"><span>Hosting</span>
								<input type="checkbox" class="" name="checkEmail"><span>Art/ Design</span>
								<input type="checkbox" class="" name="checkEmail"><span>Research</span>
								<input type="checkbox" class="" name="checkEmail"><span>Technical</span>
								<br/><br/><input type="checkbox" class="" name="checkEmail"><span>Acting</span>
								<input type="checkbox" class="" name="checkEmail"><span>Writer</span>
								<br/><br/><span>Other?</span><textarea name="checkMessage"></textarea>
							</td>
						</tr>
						<tr>
							<td></td>
							<td><button type="submit">Submit</button></td>
						</tr>
					</tbody></table>
				</form>
			</aside>
		</section>
