	<footer role='contentinfo' id='main-footer'>
		<div class='center-container relative'>
			<a href='javascript:void(0)' id='gotop' class='ir gotop'>go top</a>
			
			<section id='links-footer'  class='main-footer-section clearfix'>
				<section id='pages-footer'>
					<header>
						<figure> Pages	</figure>
					</header>
					<nav>
						<ul>
							<li><a href='javascript:void(0)'><i></i>Home</a></li>
							<li><a href='javascript:void(0)'><i></i>News</a></li>
							<li><a href='javascript:void(0)'><i></i>Image gallery</a></li>
							<li><a href='javascript:void(0)'><i></i>Video gallrey</a></li>
							<li><a href='javascript:void(0)'><i></i>Events</a></li>
							<li><a href='javascript:void(0)'><i></i>About us</a></li>
							<li><a href='javascript:void(0)'><i></i>Blog</a></li>
							<li><a href='javascript:void(0)'><i></i>Contact us</a></li>
						</ul>
					</nav>					
				</section><!-- </pages-footer> -->
				<section id='latest-posts-footer'>
					<header>
						<figure> Latest posts</figure>
					</header>
					<nav>
						<ul>
							<li><a href='javascript:void(0)'><i></i>home</a></li>
							<li><a href='javascript:void(0)'><i></i>news</a></li>
							<li><a href='javascript:void(0)'><i></i>image gallery</a></li>
							<li><a href='javascript:void(0)'><i></i>video gallrey</a></li>
							<li><a href='javascript:void(0)'><i></i>events</a></li>
							<li><a href='javascript:void(0)'><i></i>about us</a></li>
							<li><a href='javascript:void(0)'><i></i>blog</a></li>
							<li><a href='javascript:void(0)'><i></i>contact us</a></li>
						</ul>
					</nav>					
				</section><!-- </latest-posts-footer> -->
				<section id='events-footer'>
					<header>
						<figure> Upcoming events	</figure>
					</header>
					<nav>
						<ul>
							<li><a href='javascript:void(0)'><i></i>home</a></li>
							<li><a href='javascript:void(0)'><i></i>news</a></li>
							<li><a href='javascript:void(0)'><i></i>image gallery</a></li>
							<li><a href='javascript:void(0)'><i></i>video gallrey</a></li>
							<li><a href='javascript:void(0)'><i></i>events</a></li>
							<li><a href='javascript:void(0)'><i></i>about us</a></li>
							<li><a href='javascript:void(0)'><i></i>blog</a></li>
							<li><a href='javascript:void(0)'><i></i>contact us</a></li>
						</ul>
					</nav>					
				</section><!-- </events-footer> -->
				<section id='favorite-footer'>
					<header>
						<figure> Favorite links	</figure>
					</header>
					<nav>
						<ul>
							<li><a href='javascript:void(0)'><i></i>home</a></li>
							<li><a href='javascript:void(0)'><i></i>news</a></li>
							<li><a href='javascript:void(0)'><i></i>image gallery</a></li>
							<li><a href='javascript:void(0)'><i></i>video gallrey</a></li>
							<li><a href='javascript:void(0)'><i></i>events</a></li>
							<li><a href='javascript:void(0)'><i></i>about us</a></li>
							<li><a href='javascript:void(0)'><i></i>blog</a></li>
							<li><a href='javascript:void(0)'><i></i>contact us</a></li>
						</ul>
					</nav>					
				</section><!-- </favorite-footer> -->
			</section><!-- </links-footer> -->
			
			<section id='books-footer' class='main-footer-section'>
				<header>
					<figure> Books that we recommend	</figure>
				</header>
				<div class='carousel-big carousel clearfix'>
					<a href='javascript:void(0)' class='prev links' ><figure class='ir'>previous books</figure></a>
					<nav>
						<ul class='horizontal'>
							<li>
								<dl>
									<figure></figure>
									<dt class='title'><a href='javascript:void(0)'>The Muslim Prayer Book</a></dt>
									<dd class='author'>by Mohammad Ali</dd>
									<dd class='rating'></dd>
								</dl>
							</li>
							<li>
								<dl>
									<figure></figure>
									<dt class='title'><a href='javascript:void(0)'>The Muslim Prayer Book</a></dt>
									<dd class='author'>by Mohammad Ali</dd>
									<dd class='rating'></dd>
								</dl>
							</li>					
							<li>
								<dl>
									<figure></figure>
									<dt class='title'><a href='javascript:void(0)'>The Muslim Prayer Book</a></dt>
									<dd class='author'>by Mohammad Ali</dd>
									<dd class='rating'></dd>
								</dl>
							</li>							
							<li class='last'>
								<figure></figure>
								<dl>
									<dt class='title'><a href='javascript:void(0)'>The Muslim Prayer Book</a></dt>
									<dd class='author'>by Mohammad Ali</dd>
									<dd class='rating'></dd>
								</dl>
							</li>
						</ul>
					</nav>
					<a href='javascript:void(0)' class='next links' ><figure class='ir'>next books</figure></a>
				</div>
			</section> <!-- </books-footer> -->
			
			<section class='main-footer-section clearfix'>
				<section id='social-footer'>
					<header>
						<figure>Social Networks</figure>
					</header>			
					<ul id='footer-fb-rss'>
						<li id='footer-rss-icon' class='clearfix'>
							<figure></figure>
							<span>Rss feed</span>
							<span>Subscribe now to recieving newsletters</span>
						</li>
						<li id='footer-newsletter' class='clearfix'>
							<input type='text' class='txt floatLeft blockBox' autocomplete='on'  />
							<button class='floatRight blockBox'>Submit</button>
						</li>
					</ul>
					<section id='footer-twitter' data-borderRadius='5'>
						<a href='javascript:void(0)' id='footer-twitter-link' >Latest tweets</a>
						<a href='javascript:void(0)' id='footer-twitter-icon' class='ir'>Alhussain Tweets</a>
						<a href='javascript:void(0)' id='footer-twitter-next' class='ir'>Next tweet</a>
						<a href='javascript:void(0)' id='footer-twitter-prev' class='ir'>Previous tweet</a>
						<p>this is my fucking tweet</p>
					</section> <!-- </footer-twitter> -->
					<p class='clearBoth'>You can donate to Al-Hussain TV in order to support  muslim community. Al-hussian TV mission is to make better socialize environment for all muslims by it's TV Channel and website.</p>
					<p>Donate to Al-Hussain TV Now and support the muslim community.</p>
					<figure id='footer-donate-paypal'></figure>
					<figure id='footer-donate-creditcard'></figure>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="WSEBNYA436Z4E">
						<button id='footer-donate-button' alt="PayPal - The safer, easier way to pay online!" class='donate-button'>Donate Now</button>
						<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</section> <!-- </social-footer> -->
				<aside id='contact-footer'>
					<header>
						<figure>Contact us</figure>
					</header>
					<form  class='clearfix'>
						<label for='footer-fullname' >Full name</label>
						<input type='text' class='txt' id='footer-fullname' name='footerFullname' autocomplete='on' />
						<label for='footer-fullname' >Email</label>
						<input type='text' class='txt' id='footer-email'  name='footerEmail' autocomplete='on'  />
						<textarea  name='footerMessage'></textarea>
						<button>Send</button>
					</form>
					<ul id='footer-contact-detail' class='clearfix'>
						<li class='clearfix'>
							<a href='maito:info@alhussaintv.tv' id='footer-info'>info@alhussaintv.tv - </a>
							<a href='maito:donate@alhussaintv.tv'>donate@alhussaintv.tv</a>
						</li>
						<li id='footer-tel'>1-703-898-8114</li>
						<li id='footer-fax'>1-703-898-8113</li>
					</ul>
				</aside> <!-- </contact-footer> -->
			</section><!-- </social,contact,donation> -->
			<section id="sponsers-footer" class='main-footer-section'>
				<header>
					<figure>Our sponsers	</figure>
				</header>
				<div class='carousel-big carousel clearfix'>
					<a href='javascript:void(0)' class='prev links' ><figure class='ir'>previous sponser</figure></a>
					<nav>
						<ul class='horizontal clearfix'>
							<li><h2>Imam Shirazi World Foundation</h2></li>
							<li><h2>Imam Ali (A.S) Center Springfield VA</h2></li>
							<li><h2>Prestige Productionz DC</h2></li>
							<li><h2>Kabob Factory Lorton VA</h2></li>
						</ul>
					</nav>	
					<a href='javascript:void(0)' class='next links' ><figure class='ir'>next sponser</figure></a>
				</div>
			</section> <!-- </sponsers> -->
		</div> <!-- </main-footer div> -->
		<section id='copyright'>
			<ul id='copyright-inner' class='center-container horizontal'>
				<li id='copyright-inner-left'>
					<figure class='ir'>Alhussain Logo</figure>
					<p itemscope>Copyright &copy; 2011 Anwar Al-Hussain TV All rights reserved. 
						<a itemprop='url' href='javascript:void(0)'>Term of use</a>|
						<a itemprop='url' href='javascript:void(0)'>Privacy policy</a>
						<a itemprop='url' href='javascript:void(0)'>About Al-Hussain TV</a>|
						<a itemprop='url' href='javascript:void(0)'>Rss Feed</a>|
						<a itemprop='url' href='javascript:void(0)'>Contact us</a> 
					</p>
				</li> 
				<li id='copyright-inner-right'>
					<address itemscope itemtype='http://data-vocabulary.org/Organization'>
						<span id='developed'>Delveloped by</span> 
						<a href='http://mexo.co' class='blockBox' itemprop='url' >
							<figure class='al-rotate'>
								<figcaption class='ir'>Mexo is a Web programming and development company</figcaption>
							</figure>
						</a>
						<span class='blockBox'>Web programming and development</span>
					</address>
				</li>
			</ul>
		</section> <!-- </copyright> -->
	</footer>