	<header role='banner' id='main-header' class='center-container clearfix'>
		<hgroup itemref='content-info' itemscope itemtype='http://microformats.org/profile/hcard'>
			<h1 itemprop='fn org'>
				<a itemprop='url' href='<!--{$applicationPath}-->' id='logo'  >
					<figure <!--{if $action eq 'homepage'}-->class='invisible'<!--{/if}-->>
						<img itemprop='logo' alt='Alhussain TV' src='<!--{$imagePath}-->layout/al-hussain-logo.png' />
						<figcaption class='ir'>Anwar Al-Hussain TV - Official Logo</figcaption>
					</figure>
					<figure id='logoText' <!--{if $action eq 'homepage'}-->class='invisible'<!--{/if}-->>
						<figcaption class='ir'>Anwar Al-Hussain TV - Guidance for revival</figcaption>
					</figure>
				</a>
			</h1>
		</hgroup>
		<ul class='horizontal' id='header-social'>
			<li id='header-rss'><a href='<!--{$applicationPath}-->feed'>RSS<small>subscribe</small></a></li>
			<li id='header-twitter'><a href='<!--{$SiteData.socialLinks.twitter.url}-->' title='<!--{$SiteData.socialLinks.twitter.title}-->'>Follow us<small>on Twitter</small></a></li>
			<li id='header-facebook'><a href='<!--{$SiteData.socialLinks.facebook.url}-->' title='<!--{$SiteData.socialLinks.facebook.title}-->'>Join us<small>on Facebook</small></a></li>
			<li id='header-youtube' class='last'><a href='<!--{$SiteData.socialLinks.youtube.url}-->' title='<!--{$SiteData.socialLinks.youtube.title}-->'>Watch us<small>on YouTube</small></a></li>
		</ul>
		<div id='header-sponser'>
			<h1 data-href='<!--{$applicationPath}-->sponsors' class='floatLeft'><small>Our</small>Sponsors</h1>
			<a href='<!--{$applicationPath}-->sponsors'><span class='floatLeft blockBox'>Prestige.Productionz Washington DC</span></a>
		</div>
		<div class='clearBoth'></div>
		<nav id='main-nav' class='horizontal'>
            <ul class='clearfix'>
                <li id='nav-home' class='first'><div><a href='<!--{$applicationPath}-->homepage'><span>Home</span><i class="corner"></i></a></div></li>
                <li id='nav-news'><div><a href='<!--{$applicationPath}-->newsList'><span>News</span><i class="corner"></i></a></div></li>
                <li id='nav-image'><div><a href='<!--{$applicationPath}-->imageGallery'><span>Image Gallery</span><i class="corner"></i></a></div></li>
                <li id='nav-video'><div><a href='<!--{$applicationPath}-->video'><span>Video Gallery</span><i class="corner"></i></a></div></li>
                <li id='nav-events'><div><a href='<!--{$applicationPath}-->events'><span>Events</span><i class="corner"></i></a></div></li>
                <li id='nav-about' class='relative'>
                	<div><a href='<!--{$applicationPath}-->about'><span>About us</span><i class="corner"></i></a></div>
              		<ul id='navAboutDetail'>
						<li><a href="<!--{$applicationPath}-->faq">FAQ</a></li>
						<li><a href="<!--{$applicationPath}-->testimonial">Comments</a></li>
					</ul>
                </li>
                <li id='nav-blog'><div><a href='<!--{$applicationPath}-->blogs'><span>Blog</span><i class="corner"></i></a></div></li>
                <li id='nav-contact' class='last'><div><a href='<!--{$applicationPath}-->contact'><span>Contact us</span><i class="corner"></i></a></div></li>
            </ul>
        </nav>
		<!--{include file = $includeTemplate|cat:$action|cat:"Header.tpl.html"}-->
	</header>