		<section id='homepage-slider' class='carousel-slideshow carousel clearfix'>
			<div class='clearfix'>
				<a href='javascript:void(0)' class='prev links' ><figure class='ir'>previous slide</figure></a>
				<nav class='relative'>
					<ul>
						<li class='homepage-slideshow hide'>
							<a href='<!--{$applicationPath}-->campaign'>
								<figure><img src='<!--{$imagePath}-->slides/fatima.jpg' /></figure>
							</a>
							<a href='<!--{$applicationPath}-->imageGallery'>
								<figure><img src='<!--{$imagePath}-->slides/image-gallery.jpg' /></figure>
							</a>
							<a href='<!--{$applicationPath}-->video'>
								<figure><img src='<!--{$imagePath}-->slides/video.jpg' /></figure>
							</a>
							<a href='<!--{$applicationPath}-->volunteer'>
								<figure><img src='<!--{$imagePath}-->slides/volunteer.jpg' /></figure>
							</a>
						</li>
					</ul>
					<figure class='pngFix' id='slider-shadow'></figure>
				</nav>	
				<a href='javascript:void(0)' class='next links' ><figure class='ir'>next slide</figure></a>
			</div>
			<div class='relative'><figure id='homepage-slider-shadow' class='pngFix'></figure></div>
		</section> <!-- /homepage-slider -->
		<section id='homepage-hadith'>
			<figure></figure>
			<i class='left'></i>
			<blockquote>
			<!--{$SiteData.homepage.hadith}-->
			</blockquote>
			<i class='right'></i>
		</section>