		<section id='homepage-slider' class='carousel-slideshow carousel clearfix'>
			<div class='clearfix'>
				<a href='javascript:void(0)' class='prev links' ><figure class='ir'>previous slide</figure></a>
				<nav class='pngFix'>
					<ul>
						<li>
							<a href='javascript:void(0)'>
								<figure><img src='<!--{$imagePath}-->slides/banner_pic.jpg' /></figure>
							</a>
						</li>
					</ul>
				</nav>	
				<a href='javascript:void(0)' class='next links' ><figure class='ir'>next slide</figure></a>
			</div>
			<div class='relative'><figure id='homepage-slider-shadow' class='pngFix'></figure></div>
		</section> <!-- /homepage-slider -->
		<section id='homepage-hadith'>
			<figure></figure>
			<i class='left'></i>
			<blockquote>
			Ibn 'Umar reported that the Messenger of Allah (may peace be upon him) ordered that Sadaqat-ul-Fitr should be paid before the people go out for prayer
			</blockquote>
			<i class='right'></i>
		</section>