		<section id='video-banner' class='inner-banner'>
			<figure class='ir' id='video-banner-figure'></figure>
			<hgroup>
				<h2><!--{$SiteData.bannerTitles.title}--></h2>
				<p><!--{$SiteData.bannerTitles.subTitle}-->&nbsp;</p>
			</hgroup>
		</section>
		<nav id='breadcrumb'>
			<a href='<!--{$applicationPath}-->'>Home</a><i></i>
			<!--{if $SiteData.videoGallery.singleVideo eq 1}-->
			<a href='<!--{$applicationPath}-->video'><!--{$SiteData.bannerTitles.title}--></a><i></i>
			<a href='<!--{$SiteData.videoGallery.video.catUrl}-->'><!--{$SiteData.videoGallery.video.catTitle}--></a><i></i>
			<span><!--{$SiteData.videoGallery.video.vTitle}--></span>
			<!--{else}-->
			<span><!--{$SiteData.bannerTitles.title}--></span>
			<!--{/if}-->
		</nav>